<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Movie Flix</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/Main.css" />
    <link rel="stylesheet" type="text/css" href="css/Stars.css" />
  
   

</head>
<body>
<div id="slideBar" >
    <img style="float:left; " src="img/logo.png" align-items="flex-start" alt="logo" width="200"/>
    <div class="topNaviagationLink"><a href="Homepage.html">Home</a></div>
    <div class="topNaviagationLink"><a href="Searchcatalog.html">Search</a></div>
    <div class="topNaviagationLink"><a href="Filter.html">SortList</a></div>
    <div class="topNaviagationLink"><a href="Insertmovie.html">AddtoView</a></div>
    <div class="topNaviagationLink"><a href="Homepage.html">Sign Out</a></div>

</div>
<div class="contentBox">
    <div class="innerBox">
        </br>  </br>

        <br/>

        <div class="l-column" style="padding:150px"><br/>
            <h2>Choose Rating</h2>
                <span class="star-rating" >
  <input type="radio" name="rating" value="1"><i></i>
  <input type="radio" name="rating" value="2"><i></i>
  <input type="radio" name="rating" value="3"><i></i>
  <input type="radio" name="rating" value="4"><i></i>
  <input type="radio" name="rating" value="5"><i></i>
    </span>
            </br>  </br>
            <h2><u>Title Description</u></h2>
            <br/>
            <ul>
                <b>Movie Name:</b><br/><br/>
                <b>Genre: </b><br/><br/>
                <b>Director: </b><br/><br/>
                <b>Actors:   </b><br/><br/>
                <b>IMDB Rating: </b><br/><br/>
                <b>Plot: </b><br/><br/>

            </ul><hr>
            <hr>
            <div class="glyphicon glyphicon-comment" >
                <form action="/html/tags/html_form_tag_action.cfm" method="post">

    <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;" placeholder="Add comment">
</textarea>
                    </br></br>
                    <a href="#" class="btn btn-primary" role="button">Post</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
