<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/Main.css" />
    <link rel="stylesheet" type="text/css" href="css/Grid.css">
    
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div id="slideBar" >

    <img style="float:left; " src="img/logo.png" align-items="flex-start" alt="logo" width="200"/>
    <div class="topNaviagationLink"><a href="Homepage.html">Home</a></div>
    <div class="topNaviagationLink"><a href="Searchcatalog.html">Search</a></div>
    <div class="topNaviagationLink"><a href="Filter.html">SortList</a></div>
    <div class="topNaviagationLink"><a href="Insertmovie.html">AddtoView</a></div>
    <div class="topNaviagationLink"><a href="Homepage.html">Sign Out</a></div>

</div>
<div id="mainPicture" style="height:520px;position:relative;top:20px;">
    <!-- header -->
    <div id="header">
        <h1><div style="...">Trending Now</div></h1>
    </div>

    <div class="row" >
        <div class="col-lg-1" >
            <div class="input-group" >
                <div class="input-group-btn" >
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search <span class="caret"> </span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Type</a></li>
                        <li><a href="#">Year</a></li>
                        <li><a href="#">Genre</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" aria-label="..." >
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

    </div><!-- /.row -->
    <!-- content -->
    <div id="content">
        <div id="container" >
            <div class="timeline-container"></div>
                   <div   class= "glyphicon glyphicon-menu-left" ></div>
            <ul class="rig columns-4">
                <li >
                    <div class="caption">
                    <img src="https://www.99doing.com/upload/pages/media/bridgeofspies-Bridge-of-Spies-English-Movie-Posters-photo-111168.jpg" />
                    <h3><a href="titledetails.html">Bridge of Spies </a> </h3>
                    <p>Genre: Action, Adventure, Sci-Fi</p>
                        <p><a href="#" class="btn btn-primary" role="button">Add to List</a> <a href="#" class="btn btn-default" role="button">watch Later</a></p>
        </div>
                </li>

                <li>
                    <img src="https://2.bp.blogspot.com/-Uk1cZbGJptk/VpOGXU8yV-I/AAAAAAAACS4/4gXBxBoWYfg/s320/London_Has_Fallen_poster.jpg" />
                    <h3>London Has Fallen</h3>
                    <p>Genre: Action, Adventure, Sci-Fi</p>
                <p><a href="#" class="btn btn-primary" role="button">Add to List</a> <a href="#" class="btn btn-default" role="button">watch Later</a></p>

            </li>
                <li>
                    <img src="http://www.vangeva.com/wp-content/gallery/attractive-movie-posters/vangeva-movie-poster-21.jpg" />
                    <h3>Public Enemies</h3>
                    <p>Genre: Action, Adventure, Sci-Fi</p>
                    <p><a href="#" class="btn btn-primary" role="button">Add to List</a> <a href="#" class="btn btn-default" role="button">watch Later</a></p>

                </li>
                <li>
                    <img src="http://cdn.movieweb.com/img.site/PHx1qatQr9M5AA_1_l.jpg" />
                    <h3>The Fate of the Furious</h3>
                    <p>Genre: Action, Adventure, Sci-Fi</p>
                    <p><a href="#" class="btn btn-primary" role="button">Add to List</a> <a href="#" class="btn btn-default" role="button">watch Later</a></p>

                </li>
                <li>
                    <img src="http://www.impawards.com/2014/posters/noah_xlg.jpg" />
                    <h3>Noah</h3>
                    <p>Genre: Action, Adventure, Sci-Fi</p>
                    <p><a href="#" class="btn btn-primary" role="button">Add to List</a> <a href="#" class="btn btn-default" role="button">watch Later</a></p>

                </li>
                <li>
                    <img src="https://s-media-cache-ak0.pinimg.com/originals/dd/ff/99/ddff995d392de28d97dc668463b163b5.jpg" />
                    <h3>Pirates of the Caribbean</h3>
                    <p>Genre: Action, Adventure, Sci-Fi</p>
                    <p><a href="#" class="btn btn-primary" role="button">Add to List</a> <a href="#" class="btn btn-default" role="button">watch Later</a></p>

                </li>
                <li>
                    <img src="https://pbs.twimg.com/media/Cw8_O4ZUUAANQSR.jpg" />
                    <h3>Beauty and the Beast</h3>
                    <p>Genre: Action, Adventure, Sci-Fi</p>
                    <p><a href="#" class="btn btn-primary" role="button">Add to List</a> <a href="#" class="btn btn-default" role="button">watch Later</a></p>

                </li>
                <li>
                    <img src="https://s-media-cache-ak0.pinimg.com/736x/f6/4d/a2/f64da21680786605490cfe2a624e483d.jpg" />
                    <h3>Dunkirk</h3>
                    <p>Genre: Action, Adventure, Sci-Fi</p>
                    <p><a href="#" class="btn btn-primary" role="button">Add to List</a> <a href="#" class="btn btn-default" role="button">watch Later</a></p>

                </li></ul>
        </div>

    </div>
</div>



</body>
</html>
