<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Movie Flix</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/Main.css" />
    <link rel="stylesheet" type="text/css" href="css/Stars.css" />
    
    

</head>
<body>
<div id="slideBar" >
    <img style="float:left; " src="img/logo.png" align-items="flex-start" alt="logo" width="200"/>
    <div class="topNaviagationLink"><a href="Homepage.html">Home</a></div>
    <div class="topNaviagationLink"><a href="Searchcatalog.html">Search</a></div>
    <div class="topNaviagationLink"><a href="Filter.html">SortList</a></div>
    <div class="topNaviagationLink"><a href="Homepage.html">Sign Out</a></div>

</div>
 <!-- header -->
    <div id="header">
        <!-- content -->
        <div id="content">

    </div>
</div>
<div class="contentBox">
    <div class="innerBox">

        <div class="l-column" style="padding:150px">
            <form name="movieadd" action="#">
            <h2>Insert Details for Movie/TV Shows</h2>
                </br>                </br>
           <fieldset>
             <label class = "insert" for = "id"> Identity:    <input type="text">    <br/><br/>
             <label class = "insert" for = "title">Title: <input type="text">    <br/><br/>
             <label class = "insert" for = "actor"> Actor: <input type="text">    <br/><br/>
             <label class = "insert" for = "year"> Year:  <input type="text">    <br/><br/>
             <label class = "insert" for = "genre">Genre: <input type="text">    <br/><br/>
           
           </fieldset>
                <button type="submit" class="btn btn-primary">Submit</button>
            
            </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>

